stages:
  - build
  - test
  - lint
  - deploy

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -t your-app-name .
    - docker tag your-app-name your-docker-hub-username/your-app-name:latest

test:
  stage: test
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker run your-docker-hub-username/your-app-name:latest

lint:
  stage: lint
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker run black your-app-name

deploy:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker push your-docker-hub-username/your-app-name:latest
    - docker-compose up -d