stages:
  - build
  - test
  - deploy

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -t $DOCKERHUB_IMAGE .
    - docker tag $DOCKERHUB_IMAGE $DOCKERHUB_USERNAME/$DOCKERHUB_IMAGE:latest

test:
  stage: test
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker run $DOCKERHUB_USERNAME/$DOCKERHUB_IMAGE:latest

deploy:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD $CI_REGISTRY
    - docker push $DOCKERHUB_USERNAME/$DOCKERHUB_IMAGE:latest
    - docker-compose up -d