stages:
  - test
  - docker

variables:
  DOCKER_TLS_CERTDIR: ""

test:
  stage: test
  image: php:8.1-apache
  script:
    - php --version
    - ls -la
    - php -r "echo '✅ Tests PHP OK';"
  only:
    - main

docker-build-push:
  stage: docker
  image: docker:latest
  services:
    - docker:dind
  script:
    # 1. Build
    - docker build -t $DOCKERHUB_IMAGE:$CI_COMMIT_SHORT_SHA .
    
    # 2. Login
    - echo $DOCKERHUB_PASSWORD | docker login -u $DOCKERHUB_USERNAME --password-stdin
    
    # 3. Push
    - docker push $DOCKERHUB_IMAGE:$CI_COMMIT_SHORT_SHA
    
    - echo "✅ Docker Hub push réussi !"
  only:
    - main