stages:
  - build
  - test
  - lint
  - deploy
  - notify

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - echo "Building the application..."
    - docker build -t $DOCKERHUB_IMAGE .
    - docker tag $DOCKERHUB_IMAGE $DOCKERHUB_USERNAME/$DOCKERHUB_IMAGE:latest

test:
  stage: test
  image: docker:latest
  services:
    - docker:dind
  script:
    - echo "Testing the application..."
    - docker run $DOCKERHUB_USERNAME/$DOCKERHUB_IMAGE:latest

lint:
  stage: lint
  image: docker:latest
  script:
    - echo "Linting the code..."

deploy:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  script:
    - echo "Deploying the application..."
    - docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD
    - docker push $DOCKERHUB_USERNAME/$DOCKERHUB_IMAGE:latest
    - docker-compose up -d

notify:
  stage: notify
  image: docker:latest
  script:
    - echo "Notifying the team..."