image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_TLS_CERTDIR: ""

stages:
  - build
  - push

build-and-push:
  stage: build
  script:
    # Build
    - docker build -t $DOCKERHUB_IMAGE:$CI_COMMIT_SHORT_SHA .
    - docker tag $DOCKERHUB_IMAGE:$CI_COMMIT_SHORT_SHA $DOCKERHUB_IMAGE:latest
    
    # Login et push
    - echo $DOCKERHUB_PASSWORD | docker login -u $DOCKERHUB_USERNAME --password-stdin
    - docker push $DOCKERHUB_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker push $DOCKERHUB_IMAGE:latest
    
    - echo "✅ Image poussée sur Docker Hub"
  only:
    - main
  tags:
    - docker